.is-horizontal-center {
    justify-content: center;
    padding-top: 25px;
    text-align: center;
}
.field.has-addons{
    justify-content: center;
}
.section {
    padding: 1.5rem 1.5rem;
}
.card-image{
    margin: 0 auto;
    margin-bottom: -25px;
}
.info-area {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.info-output {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.data-conatiner{
    display: flex;
    font-size: 1em;
}

.red {
    color: hsl(348, 100%, 61%);
}

@media only screen and (max-width: 400px) {
    .data-conatiner{
    font-size: 0.75em;
    }
}